<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.filmountain.monitor.mapper.NanoDCMapper">


<select id="selectSectorById" parameterType ="com.filmountain.monitor.vo.SectorInfoVO" resultType="com.filmountain.monitor.vo.SectorInfoVO">
		select 
			sector_id,
			miner_id,
			deals,
			pledged,
			state,
			to_upgrade,
			weight_type,
			event_type,
			deadline_id,
			partition_id,
			is_faulty,
			is_live,
			is_recovering
			where sector_id=#{sector_id} AND miner_id=#{miner_id}
		 from NanoDCSectors	
	</select>
	
	<insert id="addNewSector" parameterType ="com.filmountain.monitor.vo.SectorInfoVO">
		INSERT INTO NanoDCSectors 
			(sector_id, 
			miner_id, 
			deals, 
			pledged, 
			state, 
			to_upgrade, 
			weight_type, 
			event_type, 
			deadline_id, 
			partition_id, 
			is_faulty, 
			is_live, 
			is_recovering)
		VALUES 
			(#{sector_id}, 
			#{miner_id}, 
			#{deals}, 
			#{pledged}, 
			#{state}, 
			#{to_upgrade}, 
			#{weight_type}, 
			#{event_type}, 
			#{deadline_id}, 
			#{partition_id}, 
			#{is_faulty}, 
			#{is_live}, 
			#{is_recovering});
	</insert>
	<update id="updateNewSector" parameterType ="com.filmountain.monitor.vo.SectorInfoVO">
		SET 
		    deals = COALESCE(#{deals}, deals),
		    pledged = COALESCE(#{pledged}, pledged),
		    state = COALESCE(#{state}, state),
		    to_upgrade = COALESCE(#{to_upgrade}, to_upgrade),
		    weight_type = COALESCE(#{weight_type}, weight_type),
		    event_type = COALESCE(#{event_type}, event_type),
		    deadline_id = COALESCE(#{deadline_id}, deadline_id),
		    partition_id = COALESCE(#{partition_id}, partition_id),
		    is_faulty = COALESCE(#{is_faulty}, is_faulty),
		    is_live = COALESCE(#{is_live}, is_live),
		    is_recovering = COALESCE(#{is_recovering}, is_recovering)
		WHERE sector_id = #{sector_id} AND miner_id = #{miner_id};
	</update>
	<select id="checkSectorExists" parameterType="com.filmountain.monitor.vo.SectorInfoVO" resultType="boolean">
	    SELECT EXISTS (
	        SELECT 1
	        FROM NanoDCSectors
	        WHERE sector_id = #{sector_id} AND miner_id = #{miner_id}
	        LIMIT 1
	    ) AS result
	</select>
	
	<insert id="insertNewNodeInfo" parameterType ="com.filmountain.monitor.vo.NodeInfoVO">
		INSERT INTO node_miner_info 
			(miner_id, 
			info_date, 
			cc_cnt, 
			verified_cnt, 
			nonverified_cnt, 
			network, 
			version, 
			mpool_cnt, 
			fee_debt, 
			initial_pledge, 
			locked_fund, 
			precommit_deposits,
			qa_power,
			raw_power,
			total,
			active,
			faults,
			recoveries)
		VALUES 
			(#{miner_id}, 
			#{info_date}, 
			#{cc}, 
			#{verified}, 
			#{nonVerified}, 
			#{network}, 
			#{version}, 
			#{mpool}, 
			#{feeDebt}, 
			#{initialPledge}, 
			#{lockedFunds}, 
			#{preCommiDeposits},
			#{qaPower},
			#{rawPower},
			#{total},
			#{active},
			#{faults},
			#{recoveries})
	</insert>
	<insert id="insertNewLotusWalletInfo" parameterType ="com.filmountain.monitor.vo.LotusWalletVO">
		INSERT INTO lotus_wallet 
			(wallet_address, 
			miner_id, 
			info_date,  
			name, 
			fil)
		VALUES 
			(#{address}, 
			#{miner_id}, 
			#{info_date}, 
			#{name}, 
			#{fil})
	</insert>

	<select id="selectLatestNodeInfo" parameterType ="com.filmountain.monitor.vo.NodeInfoVO" resultType="com.filmountain.monitor.vo.NodeInfoVO">
	SELECT 
			miner_id, 
			info_date, 
			cc_cnt AS "cc", 
			verified_cnt AS "verified", 
			nonverified_cnt AS "nonVerified", 
			network, 
			version, 
			mpool_cnt AS "mpool", 
			fee_debt AS "feeDebt", 
			initial_pledge AS "initialPledge", 
			locked_fund AS "lockedFunds", 
			precommit_deposits AS "preCommiDeposits",
			qa_power AS "qaPower",
			raw_power AS "rawPower",
			total,
			active,
			faults,
			recoveries
	FROM node_miner_info
	WHERE miner_id =#{miner_id}
	ORDER BY info_date DESC
	LIMIT 1
	</select>
	<select id="selectLotusWalletVO" parameterType ="com.filmountain.monitor.vo.NodeInfoVO" resultType="com.filmountain.monitor.vo.LotusWalletVO">
	SELECT 
			wallet_address AS "address", 
			miner_id, 
			info_date,  
			name, 
			fil
	FROM lotus_wallet
	WHERE info_date = #{info_date} AND miner_id =#{miner_id}
	</select>
	
	
	
	<insert id="insertNewHardWareInfo" parameterType ="com.filmountain.monitor.vo.HardWareInfoVO">
		INSERT INTO hardWareInfo 
			(miner_id, 
			info_date, 
			source_link, 
			cpu_busy, 
			ram_used, 
			swap_used,
			root_fs_used,
			root_fs_total,
			ram_total,
			swap_total,
			cpu_count,
			uptime,
			node_name)
		VALUES 
			(#{miner_id}, 
			#{info_date}, 
			#{source_link}, 
			#{cpu_busy}, 
			#{ram_used}, 
			#{swap_used},
			#{root_fs_used},
			#{root_fs_total},
			#{ram_total},
			#{swap_total},
			#{cpu_count},
			#{uptime},
			#{node_name}
			)
	</insert>
	<select id="selectLatestHardWareInfo" parameterType ="com.filmountain.monitor.vo.HardWareInfoVO" resultType="com.filmountain.monitor.vo.HardWareInfoVO">
	SELECT 
			miner_id, 
			info_date, 
			source_link, 
			cpu_busy, 
			ram_used, 
			swap_used,
			root_fs_used,
			root_fs_total,
			ram_total,
			swap_total,
			cpu_count,
			uptime,
			node_name
	FROM hardWareInfo
	WHERE miner_id =#{miner_id} AND source_link=#{source_link}
	ORDER BY info_date DESC
	LIMIT 1
	</select>
</mapper>