<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZETACUBE HOMEPAGE</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <!--Core theme CSS (includes Bootstrap)-->
    <link(href='css/styles.css', rel='stylesheet')>
	<script defer src="/js/googleMap.js"></script>
	<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6WkaKRfoHOqKTd-WkKzNM6TG9kqbV7Mo&callback=initMap">
	</script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="text-align:center; background-color: white;">
		
            <!-- Main Content -->
            <div class="container-fluid" id="content" >
				<!-- <div style="background-color: #0C172B; width: 100%; padding-right: 0.75rem;
  padding-left: 0.75rem; margin-right: auto; margin-left: auto;"> --> 
					<!--<h1>Zeta Cube</h1>-->
				</div>
		
                <!-- Begin Page Content -->
                
                
                <div style="color: #09162A; background-color: white;">
                <!--<div class="container-fluid">-->
					<!--<div style="background-color: azure; width: 100%; padding-right: 0.75rem;
  padding-left: 0.75rem; margin-right: auto; margin-left: auto;">--><br />
               <h3><b>THE SOLUTION LEADER FOR ZIB STORAGE</b></h3>
			   <h5 style="margin: 10px;">Super Hight Performance Server Solution Providing for the 4th Generation Business Success!<br /><br />
			   </h5><br />
			   
			   <h2><b>SOLUTION</b></h2>
			   <h5>· Nano Datacenter Solution<br />
			   · Zeta Cube Infinite NAS<br />
			   · Web3.0 ASP Development<br />
			   · Server Hardware Design<br /></h5><br />
			   </div>
			<!--  </div>-->
			   <div class="container-fluid" style="background-color: #09162A;">
               <h2 style="color: white;  margin-top: 10px;">NanoDC Installation Locations</h2>
			   <div id="map" style="height: 400px;"> </div><br />
			   </div>
			   
			   <div style="margin: 15px 0 0 15px; color: #09162A">
			   <h2>Contact us</h2>
			   
			   <img src="img/zetacube_qr.png" alt="">
			   <h5><br />T. +82 1644-3096<br />M. allen@zetacube.net<br /></h5>
			  
			   </div>
			   
			   
			   
                <!--</div>-->
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>


</body>

</html>