<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
      <div  th:fragment="MainContent">
	<form action="/payout" method="post">
<!-- Main Content -->
                <!-- Begin Page Content -->
                <span class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
						
                        <div class="card-body">
							<div class="dropdown mb-4">
						   
						  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
						    투자 상품별 조회
						  </button>
						  <h1 th:text="${sb}"></h1>
						  <div class="dropdown-menu">
							  <a class="dropdown-item" th:href="@{/main(category=0)}" th:text="전체조회" th:value="0"></a>
							  <div th:each="category : ${listInvestmentCategory}">
											 <a class="dropdown-item" th:href="@{/main(category=${category.investment_index})}" th:text="${category.investment_category_name}" th:value="${category.investment_index}"></a>
                                        </div>
                                        </div>
						</div>
                            <div class="table-responsive">
                                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<th align="center" style="width: 3%"></th>
                                            <th style="width: 20%">이메일</th>
                                            <th style="width: 20%">회원명</th>
                                            <th style="width: 27%">투자상품명</th>
                                            <th style="width: 30%">용량(TiB)</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<th></th>
                                            <th>이메일</th>
                                            <th>회원명</th>
                                            <th>투자상품명</th>
                                            <th>용량(TiB)</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="investment : ${listInvestment}">
											<td align="right"><input type="checkbox" name="investment_id" th:value="${investment.investment_id}" class="form-check-input"</td>
                                            <td th:text="${investment.user_email}"></td>
                                            <td th:text="${investment.user_name}"></td>
                                            <td th:text="${investment.product_name}"></td>
                                            <td th:text="${investment.purchase_size}"></td>
                                        </tr>
                              
                                    </tbody>
                                </table>    
                                 
							</div>
                            </div>
                            
                    </div>
                    			<div class="row">
								<div class="col-md-0 col-lg-6 col-xl-7"></div>
								<div class="col-md-12 col-lg-6 col-xl-5 input-group mb-3">
								  <div class="input-group-append"> 
								  <button class="btn btn-secondary" type="button" id="button-addon2">지급기준 금액 1TiB =</button>
								  </div>
								  <input type="text" class="form-control">
								  <div class="input-group-append"> 
								  <button class="btn btn-secondary" type="button" id="button-addon2">FIL</button>
								  </div>
								  <div class="input-group-append">
								  
								  <button class="btn btn-primary" type="submit" value="submit" id="button-addon2"><span class="text">지급하기 <i class="fa fa-chevron-right"></i></span></button>
								</div>
								</div>
								</div>
								</form>  
                </div>
                </div>
            <!-- End of Main Content -->
</html>